<template>
    <template if:true={isAccessible}>
        <lightning-formatted-url label={label} value={urlLink} target="_blank"></lightning-formatted-url>
    </template>
    <template if:false={isAccessible}>
        <a onclick={clicked}>{label}</a>
    </template>
    <template if:true={openModal}>
        <div >
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{label}</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium">
                        <template if:true={records}>
                            <table>
                                <template for:each={records} for:item="rec">
                                    <tr  key={rec.label}>
                                        <td><span style="font-weight:bold;">{rec.label}</span></td>
                                        <td>{rec.value}</td>
                                    </tr>
                                </template>
                            </table>
                        </template>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button label="Close" variant="neutral" onclick={closeModal}></lightning-button>&nbsp;&nbsp;&nbsp;&nbsp;
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
</template>