.c-container {
    border: 1px solid #d8dde6;
    border-radius: 5px;
    overflow:hidden;
}
.containermargin {
    margin: 10px 0px;
}
.c-container:hover {
    overflow-x:scroll;
}
.header-column {
    padding: 0 3px;
}
.field-title {
    font-size: .75rem;
    line-height: 1.25;
    color: #54698d;
    margin-bottom: .25rem;
}
.column-item {
    float: left;
}
.column-item.icon {
    padding-right:5px;
}
.lightning-layout-item {
    overflow: hidden;
    position: absolute;
}
