<template>
    <div class="slds-tabs_card">
        <lightning-tabset class="tabset-font">
            <lightning-tab label="Client Info">
                <template if:true={hasservicecomplaint}>
                    <div class="alert-message">
                        <lightning-icon icon-name="utility:alert" size="x-small" class="alert-icon"></lightning-icon>
                        &nbsp;&nbsp;There is an open Service Request or Complaint for {accountdata.Name}</div><br/>
                </template> 
                <template if:true={accountdata}>  
                    <div class="c-container">
                        <div class="slds-text-heading_small section-header-display">Key Information</div>
                        <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                            <lightning-layout-item flexibility="auto" padding="around-small" size="12">
                                <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Activity Status</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.FinServ__Status__c}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Off-us AUM</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.Off_us_AUM__c}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </lightning-layout-item>
                            <lightning-layout-item flexibility="auto" padding="around-small" size="12">
                                <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Segment</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.Segment__c}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Domicile Branch</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.FinServ__BranchName__c}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </lightning-layout-item>
                            <lightning-layout-item flexibility="auto" padding="around-small" size="12">
                                <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Subsegment</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.Subsegment__c}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Affluent Client?</dt>
                                                <dd>
                                                    <div class="slds-form-element">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            <template if:true={accountdata.is_Affluent_Client__c}>
                                                                <lightning-input type="checkbox" checked disabled>
                                                                </lightning-input>
                                                            </template>
                                                            <template if:false={accountdata.is_Affluent_Client__c}>
                                                                <lightning-input type="checkbox" disabled>
                                                                </lightning-input>
                                                            </template>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </lightning-layout-item>
                        </lightning-layout>


                        <div class="slds-text-heading_small section-header-display">Personal Information</div>
                        <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                            <lightning-layout-item flexibility="auto" padding="around-small" size="12">
                                <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Birthdate</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.PersonBirthdate}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Gender</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.FinServ__Gender__pc}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </lightning-layout-item>
                            <lightning-layout-item flexibility="auto" padding="around-small" size="12">
                                <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Nationality</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.FinServ__Citizenship__pc}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Marital Status</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.FinServ__MaritalStatus__pc}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </lightning-layout-item>
                            <lightning-layout-item flexibility="auto" padding="around-small" size="12">
                                <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">ID Type</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.ID_Type__pc}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Email</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.PersonEmail}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </lightning-layout-item>
                            <lightning-layout-item flexibility="auto" padding="around-small" size="12">
                                <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">ID No.</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.ID_No__pc}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Residential Phone No.</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.PersonHomePhone}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </lightning-layout-item>
                            <lightning-layout-item flexibility="auto" padding="around-small" size="12">
                                <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Passport No.</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.Passport_No__pc}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Do Not Disturb</dt>
                                                <dd>
                                                    <div class="slds-form-element">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            <template if:true={accountdata.PersonDoNotCall}>
                                                                <lightning-input type="checkbox" checked disabled>
                                                                </lightning-input>
                                                            </template>
                                                            <template if:false={accountdata.PersonDoNotCall}>
                                                                <lightning-input type="checkbox" disabled>
                                                                </lightning-input>
                                                            </template>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </lightning-layout-item>
                            <lightning-layout-item flexibility="auto" padding="around-small" size="12">
                                <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Profession</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.FinServ__Occupation__pc}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Residential Country</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.FinServ__CountryOfResidence__pc}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </lightning-layout-item>
                            <lightning-layout-item flexibility="auto" padding="around-small" size="12">
                                <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Organization</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.FinServ__CurrentEmployer__pc}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">US Resident</dt>
                                                <dd>
                                                    <div class="slds-form-element">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            <template if:true={accountdata.US_Resident__pc}>
                                                                <lightning-input type="checkbox" checked disabled>
                                                                </lightning-input>
                                                            </template>
                                                            <template if:false={accountdata.US_Resident__pc}>
                                                                <lightning-input type="checkbox" disabled>
                                                                </lightning-input>
                                                            </template>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </lightning-layout-item>
                            <lightning-layout-item flexibility="auto" padding="around-small" size="12">
                                <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Last Reviewed Date</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.FinServ__LastReview__c}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">US Citizen</dt>
                                                <dd>
                                                    <div class="slds-form-element">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            <template if:true={accountdata.US_Citizen__pc}>
                                                                <lightning-input type="checkbox" checked disabled>
                                                                </lightning-input>
                                                            </template>
                                                            <template if:false={accountdata.US_Citizen__pc}>
                                                                <lightning-input type="checkbox" disabled>
                                                                </lightning-input>
                                                            </template>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </lightning-layout-item>
                            <lightning-layout-item flexibility="auto" padding="around-small" size="12">
                                <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Next Review Date</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.FinServ__NextReview__c}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">US Green Card</dt>
                                                <dd>
                                                    <div class="slds-form-element">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            <template if:true={accountdata.US_Green_Card__pc}>
                                                                <lightning-input type="checkbox" checked disabled>
                                                                </lightning-input>
                                                            </template>
                                                            <template if:false={accountdata.US_Green_Card__pc}>
                                                                <lightning-input type="checkbox" disabled>
                                                                </lightning-input>
                                                            </template>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </lightning-layout-item>
                        </lightning-layout>

                        <div class="slds-text-heading_small section-header-display">Other Information</div>
                        <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                            <lightning-layout-item flexibility="auto" padding="around-small" size="12">
                                <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Customer Since</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.FinServ__RelationshipStartDate__c}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Products Per Customer</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.Products_Per_Customer__c}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </lightning-layout-item>
                            <lightning-layout-item flexibility="auto" padding="around-small" size="12">
                                <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Monthly Income (LCY)</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.Monthly_Income_LCY__pc}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Bill Payment</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.Bill_Payment__c}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </lightning-layout-item>
                            <lightning-layout-item flexibility="auto" padding="around-small" size="12">
                                <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Payroll Active</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.Payroll_Active__c}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Credit Card Usage (per month)</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.Credit_Card_Usage_Month__c}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </lightning-layout-item>
                            <lightning-layout-item flexibility="auto" padding="around-small" size="12">
                                <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">CIP Rating</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.CIP_Rating__c}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Debit Card</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.Debit_Card__c}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </lightning-layout-item>
                            <lightning-layout-item flexibility="auto" padding="around-small" size="12">
                                <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">CIP Creation Date</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.CIP_Creation_Date__c}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">General Insurance</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            {accountdata.General_Insurance__c}
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </lightning-layout-item>
                        </lightning-layout>

                        <div class="slds-text-heading_small section-header-display">System Information</div>
                        <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                            <lightning-layout-item flexibility="auto" padding="around-small" size="12">
                                <lightning-layout multiple-rows="true" pull-to-boundary="medium">                                    
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Created By</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            <lightning-formatted-url value={createdId} label={accountdata.CreatedBy.Name} target="_blank"></lightning-formatted-url>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item flexibility="auto" padding="horizontal-large" size="6">
                                        <div class="slds-p-around_xxx-small">
                                            <dl>
                                                <dt class="slds-form-element__label">Last Modified By</dt>
                                                <dd>
                                                    <div class="slds-form-element slds-form-element_readonly">
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-form-element__static">
                                                            <lightning-formatted-url value={lastModId} label={accountdata.LastModifiedBy.Name} target="_blank"></lightning-formatted-url>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </lightning-layout-item>
                        </lightning-layout>
                    </div>
                </template>
            </lightning-tab>
        </lightning-tabset>
    </div>
</template>