<template>
    <div class="account-list">
        <lightning-tree-grid
            hide-checkbox-column="true"
            resize-column-disabled="true"
            columns={gridColumns}
            data={gridData}
            key-field="id" 
            expanded-rows={expandedRows} 
            ontoggle={handleRowToggle} 
            onrowaction={handleRowActions} 
            is-loading={gridLoadingState}
        ></lightning-tree-grid>
    </div>
</template>