.lightning-card{
    width: 100%;
}

.section-header-display {
    background-color: rgb(243, 242, 242);
	padding-left: 0.5rem;
	padding-top: 0.75rem
}

.related-list {
    font-size: small;
}

.related-list .slds-button_icon-bare{
	display: none;
}
.related-list a span {
	color: rgba(27, 82, 151, 1.0);
}
.related-list .slds-scrollable_x {
	overflow-y:visible;
	overflow-x:visible;
}

.related-list .lightning-datatable{
	width: 100%;
}

.button-display {
	font-size: small;
	padding-right: 0.5rem
}
