<template>
    <c-scb-related-list 
        class="related-list" 
        record-id={accountId}
        sobject-api-name="Account_Plan__c" 
        related-field-api-name="Client_Name__c"
        sorted-by="Review_Date__c" 
        sorted-direction="DESC"
        header-label-override="Account Plans"
        icon-override="standard:planogram"
        fields="Id, Name, Overall_Status__c, Account_Plan_Reviewer__c, Review_Date__c, Account_Plan_Reviewer__r.Name" 
        columns={accPlanColumns}
        show-new="true"
        new-default-field-values={defaultValues}>
    </c-scb-related-list>
</template>