<template>
    <div class="slds-tabs_card">
        <lightning-card title='{label.labelTitle}'>
            <lightning-layout multiple-rows="false">

                <lightning-layout-item size="12">
                    <div class="slds-p-bottom_x-small">{label.labelSteps}</div>
                </lightning-layout-item>

                <lightning-layout-item size="12" medium-device-size="6">
                    <div class="slds-p-bottom_small">{label.labelNote1}</div>
                </lightning-layout-item>

                <lightning-layout-item size="12" medium-device-size="6">
                    <div class="slds-p-bottom_small">{label.labelNote2}</div>
                </lightning-layout-item>

                <lightning-layout-item size="12" medium-device-size="6">
                    <div class="slds-p-bottom_small">{label.labelNote3}</div>
                </lightning-layout-item>

                <lightning-layout-item size="12" medium-device-size="6">
                    {label.labelNote4}
                </lightning-layout-item>

            </lightning-layout>
        </lightning-card>
    </div>
</template>