<template>
    <div class="slds-tabs_card">
        <lightning-tabset class="tabset-font">
            <lightning-tab label="Household Relationship">
                <template if:true={recordId}>
                    <c-scb-related-list
                        record-id={contactId}
                        sobject-api-name="FinServ__ContactContactRelation__c"
                        related-field-api-name="FinServ__Contact__r.AccountId"
                        sorted-by="Name"
                        sorted-direction="ASC"
                        hide-header="true"
                        fields="Name,FinServ__RelatedContact__r.Account.Relationship_No__c,Full_Name__c,Relationship__c,FinServ__RelatedContact__c"
                        check-api-visibility="FinServ__RelatedContact__c"
                        columns={columns}></c-scb-related-list>
                </template>
            </lightning-tab>
        </lightning-tabset>
    </div>  
</template>
